<mat-toolbar>
    <button class="button-content" mat-icon-button *ngIf="!(isScreenLarge | async)" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <img src="../../../favicon.ico" alt="Logo" class="logo" height="70px">
      <span class="example-spacer "></span>

      <button mat-button class="example-icon favorite-icon" [routerLink]="['/home/routes']">
        <mat-icon style="size: 30px;">home</mat-icon>
        Home
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
        Log-Out
      </button>
    
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" style="width: 100%; height: calc(100% - 100px)">
    <mat-sidenav #sidenav class="menu-items" mode="side" [opened]="isScreenLarge | async">
      <div class="container">
        <mat-nav-list style="display: flex; flex-direction: column; align-items: center;">
  
          <button mat-button routerLink="/profile/data"
            [ngStyle]="{'color': isSelected('/profile/data') ? '#042440' : ''}">
            <mat-icon [ngStyle]="{'color': isSelected('/profile/data') ? '#042440' : ''}">person</mat-icon>
            Profile
          </button>
          <button mat-button routerLink="/profile/account"
            [ngStyle]="{'color': isSelected('/profile/account') ? '#042440' : ''}">
            <mat-icon
              [ngStyle]="{'color': isSelected('/profile/account') ? '#042440' : ''}">settings</mat-icon>
              Account
          </button>

        </mat-nav-list>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

