<body>
    <div class="container" [ngClass]="{ 'active': isActive }" #container >
        <div class="form-container sign-up">
            <form (submit)="onEmailCheck(); $event.preventDefault()">
                <h1 style="text-align: center;">Create Account</h1>
                <span>Or use your email for registration</span>
                <input type="email" [(ngModel)]="emailInput" name="email" placeholder="Email">
                <button type="button" (click)="onEmailCheck()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form (ngSubmit)="onLogin(email.value, password.value)">
                <h1>Sign In</h1>
                <span>Enter your email and password</span>
                <input type="email" #email placeholder="Email">
                <input type="password" #password placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login" (click)="onLoginClick()">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register" (click)="onRegisterClick()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>