body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #EAEAEA;
  color: white;
  position: fixed;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
}

.sidebar a {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
}



.header {
  margin-left: 200px;
  padding: 10px;
  background-color: #2980b9;
  color: white;
  position: fixed;
  width: calc(100% - 200px);
  top: 0;
  z-index: 1;
}

.content {
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px;
}

.sidebar span {
  margin-top: 5px;
  color:black;
}
