<div>
  <h2 style="font-weight: bold; padding-top: 10px;">Publications</h2>
  <button class="buttonAdd" [routerLink]="'/home/add-route'">
    <mat-icon>add</mat-icon>
  </button>
</div>
<hr style="border: 1px solid #367356; margin: 20px 0;">
<div class="container">
  
  <mat-card class="card-route" *ngFor="let route of routes" style="margin-top: 10px;">
    <div class="imageRoute">
      <img [src]="route.photos[0]" alt="Image of a {{ route.name }}" class="image">
    </div>

    <mat-card-content class="textCard">
      <p>{{ route.name }}</p> 
      <p>S/.{{ route.price }}</p>
      <div class="star-rating">
        <mat-icon *ngFor="let star of [].constructor(route.score); let i = index" style="color: gold;">
          star
        </mat-icon>
        <mat-icon *ngFor="let star of [].constructor(5 - route.score); let i = index" style="color: gold;">
          star_outline
        </mat-icon>
      </div>
      
    </mat-card-content>
    <mat-card-actions style="display: flex; flex-direction: column; align-items: center;" [routerLink]="'/home/route-detail/'+ route.id">
      <button class="btn-details">more details</button>
    </mat-card-actions>
  </mat-card>
        
  </div>
