
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
  }

  .buttonAdd {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #93D94E;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #93D94E; /* Color base del botón */
  }

  .buttonAdd:hover {
    background-color: #3c7405; /* Cambia el color de fondo en hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  }

  .buttonAdd:active {
    transform: scale(0.95); /* Reduce un poco el tamaño al hacer clic */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
  }

  .imageRoute{
    width: calc(100% - 20px); /* Ajusta el tamaño del contenedor */
    height: 200px; /* Ajusta el tamaño del contenedor */
    border-radius: 10%; /* Hace que el contenedor sea un círculo */
    overflow: hidden; /* Oculta las partes de la imagen que excedan el círculo */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    border-color: #F5FFFF;
    margin: 0px 0px 15px 10px;
  }
  
  .image {
    width: 100%; /* Ajusta el tamaño de la imagen */
    height: 200px; /* Ajusta el tamaño de la imagen */
  }

  mat-card {
    width: 300px;
    height: 350px;
    margin: 0px 0px 20px 20px;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    padding: 15px 5px 15px 5px;
  }
  mat-card p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto haga un salto de línea */
    overflow: hidden; /* Oculta el exceso de texto */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    margin: 0; /* Asegura que no se agreguen márgenes que desplacen el texto */
  }

  .textCard{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  mat-card-actions .btn-details {
    width: 150px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: #93D94E;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
  }

  mat-card-actions .btn-details:hover {
    background-color: #3c7405; /* Cambia el color de fondo en hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  }

.card {
    min-width: 300px; /* Asegúrate de que cada card tenga el ancho necesario */
    margin-right: 10px;
    flex-shrink: 0;
  }

  
