<div class="container">
    <form class="form" [formGroup]="touristForm">
          <div class="form-field">
            <b>Name:</b>
            <input type="text" required formControlName="name" placeholder="name">
          </div>
  
          <div class="form-field">
            <b>Surname:</b>
            <input type="text" required formControlName="lastName" placeholder="lastName">
          </div>
  
          <div class="form-field">
            <b>Address:</b>
            <input type="text" required formControlName="address" placeholder="address">
          </div>
  
          <div class="form-field">
            <b>Phone:</b>
            <input type="text" required formControlName="phoneNumber" placeholder="phoneNumber">
          </div>
  
          <div class="button-center">
            <button class="save-button" (click)="updateData($event)">
              <b>SAVE</b>
            </button>
          </div>

    </form>
  </div>