.container {
  width: 95%;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 20px;
  background-color: #EAEAEA;
  margin: 15px 0 0 0;
}

.data .left,
.data .right,
.link ,
.description{
  flex: 1; /* Divide el espacio entre ambos divs */
  margin: 10px 0;
}

.data, 
.social-links {
  display: flex;
  gap: 20px; /* Espacio entre columnas */
}

p {
  margin: 0 0 0px; /* Reduce el margen inferior para ajustar el espaciado */
  font-size: 14px; /* Tamaño de fuente para el texto encima del input */
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid white;
}

.btn-save {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-button {
  background-color: #4CAF50 !important;
  color: white;
  transition: all 0.3s ease;
}

.color-button:hover {
  background-color: #45a049 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  transform: scale(1.1);
}

